<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallet | Home</title>
    <link rel="stylesheet" href="/styles/forms_style.css">
    <style>
        body {text-align: center;
background-color:#bebebe ;}
        h1, h2, h3, h4, h5, h6 {
          font-family: "Playfair Display";
          letter-spacing: 5px;
        }
        img{
            position: relative;
            left: 100px;
            top:70px;
            width: 400px;
            height:400px;
            padding:100px;
        }
        </style>
</head>
<body>
    <div style="max-width:1100px">
        <div class="header" id="Home">
          <div class="header">
           <img src="/images/download.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
          </div>
          <div class="w3-col m6 w3-padding-large">
            <h1 class="center">Wallet Application</h1><br>
            <h5 class="center">Since 2022</h5>
            <p >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum, quis? Ut omnis facilis id odit qui minima atque, vel culpa eos nostrum, maxime modi est eum. Obcaecati in minima doloremque!<span class="w3-tag w3-light-grey">seasonal</span> ingredients.</p>
            <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident aspernatur sint deserunt quas. Expedita quos sapiente reiciendis, mollitia enim dicta consectetur maxime vero totam placeat voluptatem natus quaerat suscipit facere!Lorem</p>
          </div>
        </div>
</body>
</html>